.mainSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 180px;
  min-height: 90dvh;
}

.mainSection div {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.mainSection h1 {
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 70px;
  font-family: BodyGrotesqueBold;
}

.mainSection p {
  font-size: 30px;
  margin-left: 60px;
}

.mainSection img {
  height: 814px;
}


@media screen and (max-width: 1330px) {
  .mainSection img {
    height: 600px;
  }

  .mainSection h1 {
    font-size: 40px;
  }

  .mainSection p {
    font-size: 20px;
  }

}

@media screen and (max-width: 1150px) {
  .mainSection {
    gap: 0;
  }
}

@media screen and (max-width: 950px) {
  .mainSection {
    flex-direction: column;
  }

  .mainSection h1, .mainSection p {
    margin-left: 0;
  }
}