.mainSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  min-height: 90dvh;
}

.mainSection div {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.mainSection h1 {
  margin-left: 40px;
}

.mainSection p {
  font-size: large;
  margin-left: 40px;
}

.mainSection img {
  height: 814px;
}


@media screen and (max-width: 1330px) {
  .mainSection img {
    height: 600px;
  }
}

@media screen and (max-width: 950px) {
  .mainSection {
    flex-direction: column;
  }
}
