.registerButton {
  background-color: #1b3eb5;
  color: white;
  font-size: 22px;
  font-family: BodyTextLarge;
  font-weight: bold;
  border-radius: 36px;
  border: 2px solid #1b3eb5;
  padding: 5px 20px 5px 20px;
  transition: transform 0.1s ease;

}

.registerButton:hover {
  cursor: pointer;
  background-color: #1c3177;
  border: 2px solid #1c3177;
  transform: scale(1.03);
}
