.registerButton {
  background-color: #1b3eb5;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 36px;
  border: 2px solid #1b3eb5;
  padding: 5px 20px 5px 20px;
  transition: transform 0.1s ease;

}

.registerButton:hover {
  cursor: pointer;
  background-color: #1c3177;
  border: 2px solid #1c3177;
  transform: scale(1.03);
}
