.featureCard {
    position: relative;
    padding: 20px 20px 20px 60px;
    border-radius: 26px;
    margin: 10px;
    margin-bottom: 45px;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.right:hover {
    transform: scale(1.03) rotate(3deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.left:hover {
    transform: scale(1.03) rotate(-3deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: default;
}



.featureCard.blue {
    background-color: #3a6ef8;
    width: 400px;
}

.featureCard.blue.right {
    padding-left: 20px;
    width: 370px;
    margin-left: 60px;
}



.featureCard.grey {
    background-color: #47698d;
}

.featureCard.grey.right {
    padding-left: 20px;
    width: 400px;
}

.featureCard.grey.left {
    margin-left: 10px;
    padding-left: 20px;
    width: 500px;
}



.featureCard.darkblue {
    background-color: #17142b;
}

.featureCard.darkblue.right {
    width: 395px;
}

.featureCard.darkblue.left {
    margin-left: 220px;
    margin-right: 60px;
    padding-left: 20px;
    max-width: 380px;
}

.emoji-icon1 {
    position: absolute;
    top: -80px;
    left: -35px;
    width: 120px;
    height: auto;
}

.emoji-icon2 {
    position: absolute;
    top: -75px;
    left: 320px;
    width: 100px;
    transform: rotate(-20deg);
}

.emoji-icon3 {
    position: absolute;
    top: -120px;
    left: -60px;
    width: 130px;
    transform: rotate(-20deg);
}

.emoji-icon4 {
    position: absolute;
    top: -100px;
    left: 370px;
    width: 130px;
    transform: rotate(20deg);
}

.emoji-icon5 {
    position: absolute;
    top: -60px;
    left: 330px;
    width: 130px;
}

.emoji-icon6 {
    position: absolute;
    top: 40px;
    left: -40px;
    width: 130px;
}


@media screen and (max-width: 1375px) {
    .featureCard.darkblue.left {
        margin: 0 30px 70px 30px;
    }

    .emoji-icon2 {
        top: 20px;
        left: 310px;
        width: 100px;
        transform: rotate(20deg);
    }

    .featureCard.darkblue.right {
        margin-left: 70px;
    }

    .emoji-icon4 {
        top: 10px;
        left: 270px;
        width: 110px;
        transform: rotate(20deg);
    }

    .emoji-icon5 {
        top: -60px;
        left: 260px;
        width: 130px;
    }
}

@media screen and (max-width: 1315px) {
    .featureCard {
        font-size: 15px;
    }

    .featureCard.blue.left {
        width: 700px;
    }

    .featureCard.darkblue.left {
        margin-left: 400px;
        margin-bottom: 40px;
        min-width: 500px;
    }

    .emoji-icon2 {
        left: 400px;
    }

    .featureCard.grey.left {
        margin-left: 150px;
    }


    .featureCard.grey.right {
        width: 400px;
        margin-left: 430px;
    }

    .emoji-icon4 {
        top: -75px;
        left: 360px;
    }

    .featureCard.blue.right {
        width: 600px;
        padding-right: 60px;
        margin-left: 60px;
    }

    .emoji-icon5 {
        top: -10px;
        left: 590px;
    }

    .featureCard.darkblue.right {
        width: 650px;
        align-self: center;
    }

    .emoji-icon6 {
        top: 10px;
    }

}

@media screen and (max-width: 990px) {
    .featureCard {
        align-self: center;
        margin: 0;
        width: 300px;
    }

    .featureCard.blue.left {
        width: 300px;
        margin-bottom: 70px;
    }

    .featureCard.darkblue.left {
        width: 300px;
        margin: 0;
        margin-bottom: 70px;
    }

    .featureCard.grey.left {
        margin: 0;
        margin-bottom: 70px;
        width: 300px;
    }

    .emoji-icon3 {
        height: 170px;
        width: 130px;
        top: -100px;
    }

    .featureCard.grey.right {
        width: 300px;
        margin: 0;
        margin-bottom: 70px;
    }

    .emoji-icon4 {
        left: 300px;
    }

    .featureCard.blue.right {
        width: 450px;
        margin: 0;
        padding: 20px;
        padding-left: 45px;
        margin-bottom: 70px;
    }

    .emoji-icon5 {
        top: 10px;
        left: -60px;
    }

    .featureCard.darkblue.right {
        width: 370px;
    }

    .emoji-icon6 {
        top: 10px;
    }

}

@media screen and (max-width: 720px) {
    .featureCard {
        padding: 15px 20px;
        font-size: 13px;
        box-sizing: border-box;
    }

    .featureCard.blue.right,
    .featureCard.blue.left,
    .featureCard.darkblue.right,
    .featureCard.darkblue.left,
    .featureCard.grey.left,
    .featureCard.grey.right {
        max-width: 700px;
        width: fit-content;
        height: fit-content;
        margin: 0 20px 30px;
    }

    .emoji-icon1 {
        width: 60px;
        top: 10px;
        right: 20px;
        left: auto;
    }

    .emoji-icon2 {
        display: none;
    }

    .emoji-icon3 {
        width: 60px;
        height: 90px;
        top: -55px;
        left: -15px;
    }

    .emoji-icon4 {
        width: 60px;
        top: -45px;
        right: -10px;
        left: auto;
    }

    .emoji-icon5 {
        width: 70px;
        top: -10px;
        left: -10px;
    }

    .emoji-icon6 {
        width: 80px;
        top: 20px;
        left: 290px;
    }
}

@media screen and (max-width: 540px) {
    .featureCard.blue.right,
    .featureCard.blue.left,
    .featureCard.darkblue.right,
    .featureCard.grey.left,
    .featureCard.grey.right, 
    .featureCard.darkblue.left {
        max-width: 300px;
        min-width: 0;
    }

    .emoji-icon1 {
        top: 25px;
        right: 10px;
    }

    .emoji-icon6 {
        top: 65px;
        right: -10px;
        left: auto;
    }
}
