.priceCard {
    position: relative;
    background-color: white;
    border: 2px solid #3a6ef8;
    border-radius: 36px;
    min-width: 220px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}

.priceCard p {
    font-size: larger;
    margin: 10px 0 65px;
}

.priceCard h3 {
    font-size: 30px;
    font-family: Montserrat;
}

.priceCard h2 {
    text-decoration: line-through;
    color: grey;
    margin: 0;
    font-family: Montserrat;
}

.eight h2 {
    color: white;
}

.pinImg {
    position: absolute;
    top: -20px;
    left: 245px;
    height: 60px;
    transform: rotate(-10deg);
}

.Discount {
    position: absolute;
    color: white;
    background-color: #d81c1d;
    width: 50px;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 18px;
    padding: 6px 10px 6px 10px;
    top: -15px;
    left: -20px;
    transform: rotate(-20deg);
}


@media screen and (max-width: 1030px) {
    .priceCard {
        margin-bottom: 70px;
    }

}