header {
    background-color: #1b3eb5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin: 30px 40px;
    width: 150px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
}

header nav ul a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.recordButton {
    color: white;
    background-color: #1b3eb5;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 40px;
    padding: 7px;
    width: 350px;
    justify-content: center;
    text-align: center;
    font-family: BodyTextLarge;
    font-size: large;
    font-weight: bold;
}

.recordButton:hover {
    background-color: white;
    color: #1b3eb5;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .recordButton {
        width: 200px;
    }

    header nav ul {
        gap: 25px;
    }
}

@media screen and (max-width: 1050px) {

    header nav ul a,
    .recordButton {
        font-size: 15px;
    }

    header img {
        margin: 20px 10px 20px 40px;
    }

    .recordButton {
        margin-right: 20px;
    }
}

@media screen and (max-width: 990px) {

    .recordButton {
        margin-right: 40px;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 75px;
        left: 0;
        background-color: #1b3eb5;
        z-index: 1000;
        animation: dropdown 0.3s ease-out;
    }

    .dropdown.show {
        display: block;
    }

    .dropdown ul {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .dropdown ul li {
        text-align: center;
    }

    @keyframes dropdown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media screen and (max-width: 500px) {
    .recordButton {
        margin-right: 5px;
    }

    header img {
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px) {
    .recordButton {
        width: fit-content;
        font-size: 13px;
    }

    header img {
        width: 100px;
    }

    .dropdown {
        top: 60px;
    }
}
