.otherPriceCard {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    border: 2px solid #3a6ef8;
    border-radius: 36px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px 50px;
    gap: 50px;
    margin-bottom: 100px;
}

.pinImg {
    position: absolute;
    top: -30px;
    right: -30px;
    height: 70px;
    transform: rotate(-10deg);
}

@media screen and (max-width: 860px) {
    .otherPriceCard {
        padding: 7px 18px;
    }
}

@media screen and (max-width: 780px) {
    .otherPriceCard {
        padding: 7px;
    }

    .otherPriceCard h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 760px) {
    .otherPriceCard {
        width: 225px;
        flex-direction: column;
        padding: 0 5px 20px;
        gap: 35px;
    }

    .otherPriceCard h2 {
        margin: 0;
        margin-top: 25px;
    }

    .pinImg {
        top: -20px;
        left: 206px;
        height: 60px;
    }
}
